*,
html,
body,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  color: #010000;
}

img {
  object-fit: cover;
}

.hero-section,
.hero-section-benefits {
  /* height: 100vh; */
  background-image: url(./assets/Images/iphone5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

ul li {
  font-size: 26px;
}

.hero-section-benefits {
  /* background-image: url(./assets/Images/macbook_air_mockup.jpg); */
  background-image: linear-gradient(
      to bottom,
      rgb(255 255 255),
      rgba(222, 227, 222, 0) 60%,
      transparent 50%
    ),
    url(./assets/Images/macbook_air_mockup.jpg);
    height: 72vh;
}

.hero-section-card {
  border-radius: 15px;
  background-color: #fff;
  padding: 1.5rem;
  text-align: center;
  /* position: absolute; */
  /* right: 3%; */
  width: 355px;
  /* bottom: 7%; */
  margin-left: auto;
  margin-right: 3rem;
}

.hero-section-card h1 {
  font-size: 29px;
}

.contact-info,
.contact-info a {
  color: #686868;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  /* font-family: Poppins SemiBold; */
}

.features-section > div > div,
.pricing-plans > div > div {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem;
  border-radius: 20px;
  height: 100%;
  position: relative;
}

.features-section > div > div > div:nth-child(2) {
  /* margin-top: 2rem; */
}

.features-section div div h3 {
  font-weight: bold;
  margin: 1rem;
  font-size: 25px;
}

.find-out-more {
  color: #e78a02;
  cursor: pointer;
}

.book-free-demo-section {
  border-radius: 20px;
  height: 375px;
}

.book-demo-image-section {
  background-image: linear-gradient(
      to right,
      rgba(103, 104, 104, 1),
      rgba(0, 255, 0, 0) 36%,
      transparent 50%
    ),
    url('./assets/Images/macbook_air_mockup.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.primary-button {
  border: 3px solid #e78a02;
  background-color: #e78a02;
  color: #fff;
  font-size: 16px;
  padding: 0 24px;
  border-radius: 20px;
}

ul li button {
  font-size: 26px !important;
}

.screenshots-section {
  background-color: #eaeaec;
  padding-bottom: 6rem;
}

.screenshots-section img {
  border-radius: 20px;
}

.footer > div {
  padding-top: 5rem;
}

.social-icons i {
  font-size: 1.2rem;
}

.footer-hr {
  height: 2px;
  border-width: 0;
  color: #bdce00;
  background-color: #bdce00;
}

.benefits-heading {
  font-size: 29px;
  color: #010000;
}

.savings-calculator {
  background-color: #93a0c8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.savings-calculator h1 {
  font-size: 41px;
  color: #fdfdfd;
}

.pricing-plans > div > div {
  text-align: center;
}

.pricing-plans h3 {
  color: #000;
  /* font-family: Poppins SemiBold; */
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 1.5rem;
}

.pricing-plans .price {
  color: #a2000f;
  font-size: 37px;
  margin-bottom: 1.5rem;
  line-height: 21px;
}

.pricing-plans .price:nth-child(2) {
  line-height: 21px;
}

.pricing-plans .price span {
  color: #a2000f;
  font-size: 25px;
  font-weight: lighter;
}

.pricing-plans .description {
  color: #000;
  font-size: 16px;
  /* margin: 2rem 0; */
}

.pricing-plans button {
  width: 100%;
}

.pricing-plans i {
  color: #a2000f;
  font-size: 0.8rem;
}

.feature-list > div {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  margin-top: 0.3rem;
}

.feature-list > div p {
  text-align: left;
  line-height: initial;
}

.most-popular-plan-card {
  border: 3px solid #bdce00;
}

.most-popular-label {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.most-popular-label p {
  display: inline-block;
  background-color: #bdce00;
  padding: 0 0.8rem;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.pointer {
  cursor: pointer;
}

.text-section {
  color: #fff;
}

@media screen and (min-width: 901px) {
  ul li {
    font-size: 19px;
  }

  ul li button {
    font-size: 15px !important;
  }
}

@media screen and (min-width: 1153px) {
  ul li {
    font-size: 22px;
  }

  ul li button {
    font-size: 19px !important;
  }
}

@media screen and (max-width: 1006px) {
  ul li {
    font-size: 14px;
  }

  ul li button {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 767px) {
  .hero-section,
  .hero-section-benefits {
    /* height: 72vh; */
  }

  .hero-section-card {
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  ul li button {
    font-size: 15px !important;
  }
}

ul {
  flex-wrap: wrap;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: absolute;
  left: 0;
  right: 10px;
  width: fit-content;
  margin-left: auto;
  border-radius: 20px;
  z-index: 1;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 32px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04aa6d;
  color: white;
}
